<header style="background-image: url(assets/images/couple.jpg);" >
<app-navbar></app-navbar>
<br>
<br>
<br>
    <h1>“ Le bonheur existe , il est dans l'amour ”</h1>
    <br>
    <br>
    <br>
    <h3>“Quand je t’ai rencontré,
         j’ai entendu ton éclat de rire et je me suis dit qu’une éternité avec toi ne serait pas suffisante
          pour apprécier ce bonheur et après ces années ensemble je le confirme encore plus,
           une éternité ne me suffira pas pour te donner tout mon amour. ”
    </h3>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

</header>
<br>
<br>
<br>
<br>
<section>
    
  <a href="https://www.youtube.com/watch?v=U19PzS6c3os" target="_blank"><img src="assets/images/2.jpg" class="rounded float-end mx-5 " alt="image" width="250px" height="400px"></a>
  <a href="https://www.youtube.com/watch?v=Eh993__rOxA&t=4s" target="_blank"><img src="assets/images/1.jpg"  class="rounded float-start mx-5"  alt="image" width="250px" height="400px"></a>
  <a href="https://www.youtube.com/watch?v=GRbxeYVtXVs" target="_blank"><img src="assets/images/3.jpg" class="rounded float-end mx-40 " alt="image" width="250px" height="400px"> </a>
  <a href="https://www.youtube.com/watch?v=-Kx7tsnXGoI" target="_blank"> <img src="assets/images/4.jpg" class="rounded mx-auto d-block " alt="image" width="250px" height="400px"></a>
  <br>
  <br>
  <a href="https://www.youtube.com/watch?v=S9WDatIGhMU" target="_blank"><img src="assets/images/5.jpg" class="rounded float-start mx-5" alt="image" width="250px" height="400px"></a>
  <a href="https://www.youtube.com/watch?v=0QaeQ4jMP4Y" target="_blank"><img src="assets/images/6.jpg" class="rounded float-end mx-5" alt="image" width="250px" height="400px"></a>
  <a href="https://www.youtube.com/watch?v=mm4Axz5A6Mo" target="_blank"><img src="assets/images/7.jpg" class="rounded float-end mx-40 " alt="image" width="250px" height="400px"></a>
  <a href="https://www.youtube.com/watch?v=RdkFVT7nBaM" target="_blank"><img src="assets/images/8.jpg" class="rounded mx-auto d-block " alt="image" width="250px" height="400px"></a>
  <br>
  <br>
  <a href="https://www.youtube.com/watch?v=0pdqf4P9MB8" target="_blank"><img src="assets/images/9.jpg" class="rounded float-start mx-5" alt="image" width="250px" height="400px"></a>
  <a href="https://www.youtube.com/watch?v=THLibxt1juU" target="_blank"><img src="assets/images/10.jpg" class="rounded float-end mx-5" alt="image" width="250px" height="400px"></a>
  <a href="https://www.youtube.com/watch?v=6MUcuqbGTxc" target="_blank"><img src="assets/images/11.jpg" class="rounded float-end mx-40 " alt="image" width="250px" height="400px"></a>
  <a href="https://www.youtube.com/watch?v=5zL3YJKygd4" target="_blank"><img src="assets/images/12.jpg" class="rounded mx-auto d-block " alt="image" width="250px" height="400px"></a>
</section>
<br>
<br>
<br>
<nav aria-label="Page navigation example"  >
    <ul class="pagination justify-content-center">
      <li class="page-item">
        <a class="page-link" href="#" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
      <li class="page-item"><a class="page-link" [routerLink]="['/romantique']" >1</a></li>
      <li class="page-item"><a class="page-link" [routerLink]="['/home']" >2</a></li>
      <li class="page-item"><a class="page-link" [routerLink]="['/films']" >3</a></li>
      <li class="page-item">
        <a class="page-link" href="#" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
    </ul>
  </nav>

<app-footer></app-footer>
